body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: -webkit-linear-gradient(-390deg, #DCECFE 0%, #F5E1EE 100%) no-repeat;
  background: linear-gradient(120deg, #DCECFE 0%, #F5E1EE 100%) no-repeat; */
  background-color: #DCECFE;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td:first-child {
  padding-left: '';
}

.ui.table td.active, .ui.table tr.active {
  /** This would normally take precedent over Semantic UI's CSS, but their CSS uses the !important
  tag, so we need to as well */
  background: #DCECFE!important;
}

.ui.selectable.table tr.active:hover, .ui.selectable.table tr:hover td.active, .ui.table tr td.selectable.active:hover {
  /** This would normally take precedent over Semantic UI's CSS, but their CSS uses the !important
  tag, so we need to as well */
  background: #DCECFE!important;
}